{% extends 'base.html' %}
{% block title %}Nowe hasło{% endblock %}
{% block content %}
  <div class="container mt-5" style="max-width: 400px;">
    <h2 class="mb-4 text-center">Ustaw nowe hasło</h2>
    <form method="POST">
      <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
      <div class="form-floating mb-3">
        <input type="password" class="form-control" id="password" name="password" placeholder="Nowe hasło" required autocomplete="new-password" tabindex="1">
        <label for="password">Nowe hasło:</label>
      </div>
      {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
          {% for category, message in messages %}
            <div class="alert alert-{{ category }}" role="alert">{{ message }}</div>
          {% endfor %}
        {% endif %}
      {% endwith %}
      <div class="d-grid">
        <button type="submit" class="btn btn-primary" tabindex="2">Zmień hasło</button>
      </div>
    </form>
  </div>
{% endblock %}
